/* Setup test */

* {
	color: #f8f8f8;
	/* border: 1px solid tomato; */
}

html {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #666666;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	background: #2f2f2f;
	border-radius: 10px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

input {
	background-color: #666666;
	border: none;
	border-radius: 3px;
	padding: 4px 8px;
	text-align: center;
}

button {
	background: #0175ff;
	border: none;
	border-radius: 3px;
	padding: 4px 8px;
	margin: 0.5em;
}

button:hover,
button:focus {
	cursor: pointer;
	background: #0050b1;
}

h2 {
	margin: 1em 0 0 0;
}

ul {
	padding: 4px 8px;
	text-align: center;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	text-align: center;
	margin: 0.5em;
}
